{% extends "base.html" %}
{% load static %}
{% block title %}
  Discovery | Réinitialiser le mot de passe
{% endblock title %}

{% block content %}

<div class="nk-main">
  <div class="nk-fullscreen-block">
    <div class="nk-fullscreen-block-middle">
      <div class="container text-center">
        <strong class="text-white">Entrer votre adresse email </strong>
        <div class="nk-gap-2"></div>
        <div class="row">
          <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <form method="POST">
              {% csrf_token %}
              <div class="input-group">
                <input type="email" id="id_email" name="email" required  class="required email form-control" placeholder="Entrer votre Email">
                <input type="submit" class="nk-btn nk-btn-rounded nk-btn-color-white ml-20" value="Envoyer">
              </div>
            </form>
          </div>
        </div>
        <div class="nk-gap-3"></div>
      </div>
    </div>
</div>    
</div>    
<img class="nk-page-background-fixed" src="{% static './images/bg.jpg' %}" alt="">

{% endblock content %}