{% extends "base.html" %}
{% load static %}
{% block title %}
    Discovery | Réinitialisation envoyée
{% endblock title %}
{% block content %}
<div class="nk-main"> 
  <div class="nk-fullscreen-block">
      <div class="nk-fullscreen-block-middle">
            <div class="container text-center">
                <h1 class="h3">Réinitialisation du mot de passe envoyée</h1>
            </div>
      </div>
  </div>      
</div>
<img class="nk-page-background-fixed" src="{% static './images/bg.jpg' %}" alt="">
{% endblock content %}