{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if validlink %}
        Discovery | Confirmation de la réinisialisation
    {% else %}
        G-Trock | 404 not found
    {% endif %}
{% endblock title %}

{% block content %}
    {% if validlink %}
        <div class="nk-main">
        <div class="nk-fullscreen-block">
            <div class="nk-fullscreen-block-middle">
            <div class="container text-center">
                <div class="box">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <div>
                                {{field}}
                                <label for="">{{field.label}}</label>
                            </div>
                            {% for error in field.errors %}
                                {{error}}
                                <div class="nk-gap-1"></div>
                            {% endfor %}
                        {% endfor %}
                        <input type="submit" value="Confirmer">
                    </form>
                </div>
                <div class="nk-gap-1"></div>
            </div>
        </div>
    </div>   
    </div>
    {% else %}
        <div class="nk-main">
        <div class="nk-fullscreen-block">
            <div class="nk-fullscreen-block-middle">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                            <h1 class="text-main-1" style="font-size: 150px;">404</h1>
                            <div class="nk-gap"></div>
                            <div class="nk-gap-3"></div>
                            <a href="{% url 'home' %}" class="nk-btn nk-btn-rounded nk-btn-color-white">Revenir à l'accueil</a>
                        </div>
                    </div>
                    <div class="nk-gap-3"></div>
                </div>
            </div>
        </div>   
        </div>  
    {% endif %}
    <img class="nk-page-background-fixed" src="{% static './images/bg.jpg' %}" alt="">
{% endblock content %}