{% extends "base.html" %}
{% load static %}
{% block title %}
    Discovery | Mot de passe changé
{% endblock title %}

{% block content %}

<div class="nk-main">
    <div class="nk-gap-5"></div>
        <div class="container text-center">
            <div class="nk-gap-5"></div>
            <div class="nk-gap-5"></div>
            <h1 class="h3">Succès!</h1>
            <p>Votre mot de passe a été modifié avec succès</p>
        </div>
</div>
<img class="nk-page-background-fixed" src="{% static './images/bg.jpg' %}" alt="">

{% endblock content %}