{% extends "base.html" %}
{% load static %}
{% block title %}
  Discovery | Changer le mot de passe
{% endblock title %}
{% block content %}
<div class="nk-main">
    <div class="nk-fullscreen-block">
        <div class="nk-fullscreen-block-middle">
            <div class="container text-center">
              <div class="box">
                <!-- <h2 class="text-left">Changer mot de passe</h2> -->
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                {{error}}
                            {% endfor %}
                            <div class="nk-gap-1"></div>
                        {% endif %}
                        <div>
                            {{field}}
                            <label>{{field.label}}</label>
                        </div>
                    {% endfor %}
                    <input type="submit" value="Valider" name="">
                    <div class="text-left">
                        <div class="nk-gap-1"></div>
                    </div>
                </form>
              </div>
              <div class="nk-gap-3"></div>
            </div>
        </div>
    </div>
  </div>
  <img class="nk-page-background-fixed" src="{% static './images/bg.jpg' %}" alt="">

{% endblock content %}